<div class="author-desc-container">
  <md-card>
    <md-card-content>
      <div class="text-center">
        <a class="author-img-a" href="javascript:void(0)">
          <img src="assets/imgs/avatar.jpg" class="author-img"/>
        </a>
        <h3 class="author-name mt-3">
          <a href="javascript:void(0)">{{authorName}}</a>
        </h3>
        <p class="author-subtitle">{{authorSubtitle}}</p>
        <hr/>
        <div>
          <a href="javascript:void(0)" *ngFor="let menu of menuList">
            <p>{{menu}}</p>
          </a>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
