<!--<div class="site-stat-container">-->
  <!--<div class="card">-->
    <!--<div class="card-header">-->
      <!--数据统计-->
    <!--</div>-->
    <!--<div class="card-block">-->
      <!--<p>访问总数：16742169</p>-->
      <!--<p>文章总数：2458</p>-->
      <!--<p>评论总数：7880</p>-->
      <!--&lt;!&ndash;<p>会员总数：12772</p>&ndash;&gt;-->
      <!--&lt;!&ndash;<p>在线访客：187</p>&ndash;&gt;-->
      <!--&lt;!&ndash;<p>在线会员：2</p>&ndash;&gt;-->
      <!--&lt;!&ndash;<p>在线记录：268</p>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="site-stat-container">
  <md-card>
    <md-card-content>
      <div>
        <p>{{'siteStat.visitTotal' | translate}}：16742169</p>
        <p>{{'siteStat.postTotal' | translate}}：2458</p>
        <p>{{'siteStat.commentTotal' | translate}}：7880</p>
        <!--<p>会员总数：12772</p>-->
        <!--<p>在线访客：187</p>-->
        <!--<p>在线会员：2</p>-->
        <!--<p>在线记录：268</p>-->
      </div>
    </md-card-content>
  </md-card>
</div>
