<div class="modal-header">
  <h4 class="modal-title">注册</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancelRegister()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (submit)="doRegister()" role="form">
    <div class="form-group row">
      <label class="col-2 col-form-label" for="input-user-name">用户名</label>
      <div class="col-10">
        <input class="form-control" id="input-user-name" placeholder="请输入用户名">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="input-password">密码</label>
      <div class="col-10">
        <input type="password" class="form-control" id="input-password" placeholder="请输入密码">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="input-confirm-password">确认密码</label>
      <div class="col-10">
        <input type="password" class="form-control" id="input-confirm-password" placeholder="请再输入密码">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="input-email">邮箱</label>
      <div class="col-10">
        <input type="email" class="form-control" id="input-email" placeholder="请输入邮箱">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="input-nick-name">昵称</label>
      <div class="col-10">
        <input class="form-control" id="input-nick-name" placeholder="请输入昵称">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="input-real-name">真实姓名</label>
      <div class="col-10">
        <input class="form-control" id="input-real-name" placeholder="请输入真实姓名">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="input-en-name">英文名</label>
      <div class="col-10">
        <input class="form-control" id="input-en-name" placeholder="请输入英文名">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="input-qq">QQ</label>
      <div class="col-10">
        <input class="form-control" id="input-qq" placeholder="请输入QQ">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="input-wechat">微信</label>
      <div class="col-10">
        <input class="form-control" id="input-wechat" placeholder="请录入微信">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-2 col-10">
        <button type="submit" class="btn btn-primary">注册</button>
        <button type="button" class="btn btn-secondary" (click)="cancelRegister()">取消</button>
      </div>
    </div>
  </form>
</div>
