<div class="post-list-container">
  <div class="row">
    <div class="col-12">
      <div class="post-item-container" *ngFor="let post of postList">
        <h4>
          <a href="#">{{post.title}}</a>
        </h4>
        <p>
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;{{post.likedTimes}} &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;{{post.commentTime}} &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{post.readTimes}} &nbsp;&nbsp;&nbsp;&nbsp;{{post.author.nickName}}
          &nbsp;&nbsp;&nbsp;&nbsp;{{post.createdDate}}
        </p>
      </div>
    </div>
  </div>
</div>
<td-paging-bar #pagingBar pageSizeAllText="All" [pageSizeAll]="true" [pageSizes]="[50,100,200,500,1000,2000]" pageLinkCount="5"
               [initialPage]="1" [firstLast]="firstLast" [pageSize]="100" [total]="1345" (change)="change($event)">
  <span td-paging-bar-label hide-xs>Row per page:</span>
  {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
</td-paging-bar>
