<div class="post-list-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="post-item-container">
        <h4>
          <a href="#">文章标题1</a>
        </h4>
        <p class="text-danger">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;100 &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;100 &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;100 &nbsp;&nbsp;&nbsp;&nbsp;LittleFisher
          &nbsp;&nbsp;&nbsp;&nbsp;2016-06-15
        </p>
      </div>
      <div class="post-item-container">
        <h4>
          <a href="#">文章标题2</a>
        </h4>
        <p>
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;100 &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;100 &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;100 &nbsp;&nbsp;&nbsp;&nbsp;LittleFisher
          &nbsp;&nbsp;&nbsp;&nbsp;2016-06-15
        </p>
      </div>
      <div class="post-item-container">
        <h4>
          <a href="#">文章标题3</a>
        </h4>
        <p>
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;100 &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;100 &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;100 &nbsp;&nbsp;&nbsp;&nbsp;LittleFisher
          &nbsp;&nbsp;&nbsp;&nbsp;2016-06-15
        </p>
      </div>
      <div class="post-item-container">
        <h4>
          <a href="#">文章标题4</a>
        </h4>
        <p>
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;100 &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;100 &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;100 &nbsp;&nbsp;&nbsp;&nbsp;LittleFisher
          &nbsp;&nbsp;&nbsp;&nbsp;2016-06-15
        </p>
      </div>
      <!--<pagination [totalItems]="totalItems" [maxSize]="maxSize" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" firstText="{{'firstPage' | translate}}" lastText="{{'lastPage' | translate}}" previousText="{{'previousPage' | translate}}" nextText="{{'nextPage' | translate}}" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)" class="pagination-sm"></pagination>-->
    </div>
  </div>
</div>
