.mat-input-container {
  display: inline-block;
  position: relative;
  text-align: left;
  padding: 0 5px;
}

.mat-input-ripple {
  background-color: #6f5499;
}

md-hint[align="end"] {
  color: #bdbdbd;
}

md-hint[align="start"] {
  color: #e53935;
}
