<div class="navbar navbar-fixed-top main-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-brand-index" href="#">LittleFisherBlog</a>
    </div>

    <div class="collapse navbar-collapse navbar-responsive-collapse" aria-expanded="false">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" class="dropdown">
          <a href="#">动态</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
          <a href="#">登录</a>
        </li>
        <li routerLinkActive="active">
          <a href="#">注册</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- 主体内容区域 -->
<div class="container main-container">
  <!--<router-outlet></router-outlet>-->
</div>
<!-- 底部区域 -->
<div class="footer bs-footer">
  <div class="container">
    <div class="row">
      <p>
        Powered by <a href="http://git.oschina.net/mumu-osc/NiceFish" target="_blank">LittleFisher</a>
      </p>
    </div>
  </div>
</div>
