<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>主页</li>
      <li nz-menu-item>博文</li>
    </ul>
  </nz-header>
  <nz-content>
  </nz-content>
  <nz-footer class="footer">
      <div class="container">
          <div class="row">
            <p>
              Powered by <a href="https://github.com/litttlefisher/littlefisher-system" target="_blank">LittleFisher</a>
            </p>
          </div>
        </div>
  </nz-footer>
</nz-layout>